/* Green Border */
* {
	font-size: 14px;
	color: #06002b;
}

window#waybar {
	background: transparent;
}

.module {
	border-radius: 24px;
    padding: 0px 12px;
    margin: 5px 5px 0px 5px;
	background: linear-gradient(145deg, #00ffa7 30%, #00ff82 100%);
}

.modules-right {
    margin-right: 9px;
}

.modules-left {
    margin-left: 9px;
}

#workspaces .active {
	font-weight: bold;
}

#workspaces button:hover {
	background: alpha(#001d13, 0.25);
}

#workspaces button {
	border: none;
	margin: 0 1px;
	border-radius: 24px;
}

#pulseaudio.muted {
	color: rgba(0, 0, 0, 0);
}

button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: inherit;
}

#submap {
	margin-right: 1px;
}

tooltip {
	background: linear-gradient(145deg, #00ffa7 30%, #00ff82 100%);
	border-radius: 24px;
}

tooltip * {
	color: #000000;
}

