/* Minimal Pill */
@import "colors.css";
* {
	font-size: 14px;
    font-family: "JetBrains Mono", monospace;
}

window#waybar {
	background: transparent;
}

.module {
	padding: 0px 8px;
    margin: 3px 0px 0px 0px;
}

.modules-right {
    margin-right: 9px;
	color: @fg;
}

.modules-center {
	color: @fg;
}

.modules-left {
    margin-left: 9px;
}

#workspaces button {
    border-radius: 16px;
    padding: 0 4px;
	margin-right: 3px;
    transition: background-color 0.1s;
	transition: padding 0.1s;
	color: @fg;
}

#workspaces button.active {
	background: linear-gradient(45deg, @gradtwo 0%, @gradone 100%);
	border: 1px solid @bg;
    border-radius: 24px;
	color: @bg;
    padding: 0 16px;
	font-weight: bold;
}

#workspaces button:hover {
    background-color: @hover;
}

#pulseaudio.muted {
	color: rgba(0, 0, 0, 0);
}

button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
	background: inherit;
}

#submap {
	margin-right: 1px;
}

tooltip {
	background: @bg;
	border: 2px solid @fg;
	border-radius: 30px;
}

tooltip * {
	color: @gradtwo;
    font-weight: bold;
}

menu {
	border-radius: 15px;
	background: @bg;
	color: @fg;
}

menuitem {
	border-radius: 15px;
}
